In [1]:
#import libraries

import pandas as pd
import numpy as np

In [2]:

food_df = pd.read_csv('C:\python\Hamoye\FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1')
food_df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [3]:
#determine the number of rows and columns of the dataset

food_df.shape

(60943, 12)

In [4]:
#find the missing values
 
food_df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

<h1>Question 2<p/>

In [5]:
food_df.groupby('Element').sum().loc[['Processing'],['Y2017']]

               Y2017
Element
Processing  292836.0

<h1>Question 3<p/>

In [6]:
food = food_df[['Area', 'Y2017']]
food.groupby('Area').sum().sort_values(by='Y2017').head(7)

                          Y2017
Area
Sudan (former)             0.00
Ethiopia PDR               0.00
Comoros                   59.84
Seychelles               442.34
Sao Tome and Principe  12662.63
Cabo Verde             14650.74
Guinea-Bissau          19102.77

<h1> Question 4<p/>

In [7]:
food_df.groupby('Element').sum().loc[['Stock Variation']]

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91

<h1>Question 6<p/>

In [8]:
uniq_country = food_df['Area'].nunique()
print('The total number of unique countries in the dataset is:', uniq_country)

The total number of unique countries in the dataset is: 49

<h1>Question 7<p/>

In [9]:
food_df.groupby('Item').sum().loc[['Wine'],['Y2015', 'Y2018']]

        Y2015    Y2018
Item
Wine  4251.81  4039.32

<h1>Question 10<p/>

In [10]:
food_df.corr()[['Element Code']].sort_values(by='Element Code')

              Element Code
Item Code        -0.024683
Area Code        -0.000209
Y2016             0.023444
Y2015             0.023889
Y2017             0.024254
Y2018             0.024279
Y2014             0.024457
Element Code      1.000000

<h1>Question 15<p/>

In [11]:
food_df.groupby('Area').sum().loc[['Madagascar'],['Y2015']]

               Y2015
Area
Madagascar  126674.9

<h1>Question 16<p/>

In [12]:

food.groupby('Area').sum().sort_values(by='Y2017', ascending= False).head(1)

              Y2017
Area
Nigeria  1483268.23

<h1>Question 19<p/>

In [13]:
mean_std = food_df.describe().loc[['mean', 'std'],['Y2017']]
round(mean_std, 2)

        Y2017
mean   140.92
std   1671.86

<h1> Question 20<p/>

In [14]:
Y2014_missing_data = food_df.isnull().sum().loc['Y2014']
percentage = round((Y2014_missing_data * 100 / len(food_df)), 3)

print('The total number of missing data in 2014 = ', Y2014_missing_data)
print('The % of the missing data in 2014 = ', percentage,'%')

The total number of missing data in 2014 =  1589
The % of the missing data in 2014 =  2.607 %